

@media screen and (min-width: 768px){
  .navbar .navbar-nav {
        display: inline-block;
        float: none;
        vertical-align: top;
    }
    .navbar .navbar-collapse {
        text-align: center;
    }
}
div {
  display: block;
}
.content a img {
  margin-top: 100px; 
  height: 100px; 
  max-width: 100%;
}
.home-header:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    pointer-events: none;

   /* set background-image in all browsers*/
    background-image: -webkit-linear-gradient(left, rgba(49,61,65,0.6), rgba(49,61,65,0.6));
    background-image: -moz-linear-gradient(left, rgba(49,61,65,0.6), rgba(49,61,65,0.6));
    background-image: -o-linear-gradient(left, rgba(49,61,65,0.6), rgba(49,61,65,0.6));
    background-image: -ms-linear-gradient(left, rgba(49,61,65,0.6), rgba(49,61,65,0.6));
    background-image: linear-gradient(90deg, rgba(49,61,65,0.6), rgba(49,61,65,0.6));
}

.home-header {
    background-image: url(/pictures/home/logo.jpg);
    position: relative;
}

#fullscreen-header {
    height: 100vh;
    position: relative;
    text-align: center;
    width: 100%;
    min-height: 350px;
    background-color: #2A3A3F;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}
#fullscreen-header:before, #fullscreen-header:after{
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;

}
.content {
    display: table-cell;
    position: relative;
    z-index: 10;
    text-align: center;
    vertical-align: middle;
}

.header-container {
    display: table;
    margin: 0 auto;
    padding: 0 20px;
    height: 100%;
}
.header-content {
    display: table-cell;
    position: relative;
    z-index: 10;
    text-align: center;
    vertical-align: middle;
}
.cd-intro span{
    color: #fff;
}

.ghost-button-border-color{
  display: inline-block;
  width: 200px;
  padding: 8px;
  color: #fff;
  border: 2px solid #fff;
  text-align: center;
  outline: none;
  text-decoration: none;
  transition: border-color 0.3s ease-out,
              color 0.3s ease-out;
}
.ghost-button-border-color:hover, .ghost-button-border-color:active {
  color: #66d8ed;
  border-color: #66d8ed;
  transition: border-color 0.4s ease-in,
              color 0.4s ease-in;
}
.ghostbutton{
  display: inline-block;
  width: 200px;
  padding: 8px;
  color: #66d8ed;
  border: 2px solid #66d8ed;
  text-align: center;
  outline: none;
  text-decoration: none;
  transition: border-color 0.3s ease-out,
              color 0.3s ease-out;
}
.ghostbutton:hover, .ghostbutton:active {
  color: #66d8ed;
  background: #2A3A3F;
  border-color: #66d8ed;
  transition: border-color 0.4s ease-in,
              color 0.4s ease-in;
}

.learn-more {
    padding-top: 40px;
}
.fa {
  display: inline-block;
}
/* ---------------------------------------------- /*
 * Mouse animate icon
/* ---------------------------------------------- */
.mouse-icon {
  border: 2px solid #fff;
  border-radius: 16px;
  margin: 0 auto;
  height: 40px;
  width: 24px;
  display: inline-block;
  z-index: 10;
  opacity: 0.7;
}
.mouse-icon .wheel {
  -webkit-animation-name: drop;
  -webkit-animation-duration: 1.5s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-delay: 0s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-play-state: running;
  -webkit-animation-name: drop;
          animation-name: drop;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-play-state: running;
          animation-play-state: running;
}
.mouse-icon .wheel {
  position: relative;
  border-radius: 10px;
  background: #fff;
  width: 2px;
  height: 6px;
  top: 4px;
  margin-left: auto;
  margin-right: auto;
}
@-webkit-keyframes drop {
  0% {
    top: 5px;
    opacity: 0;
  }
  30% {
    top: 10px;
    opacity: 1;
  }
  100% {
    top: 25px;
    opacity: 0;
  }
}
@keyframes drop {
  0% {
    top: 5px;
    opacity: 0;
  }
  30% {
    top: 10px;
    opacity: 1;
  }
  100% {
    top: 25px;
    opacity: 0;
  }
}

/* ---------------------------------------------- /*
 * Expertise
/* ---------------------------------------------- */

.column, .columns {
    width: 100%;
    float: left;
    box-sizing: border-box;
}
/* ---------------------------------------------- /*
 * Skills
/* ---------------------------------------------- */
#skills {
  background-color: blue;
  width: 100%;
}
.container-skills {
    position: relative;
    width: 100%;
    margin: 0 auto;
    padding: 0 0px;
}
.container-skills:after {
    content: "";
    display: table;
    clear: both;
}
#skills {
    height: 100vh;
    position: relative;
    text-align: center;
    width: 100%;
    min-height: 350px;
    background-color: #2A3A3F;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}
#canvas{
    background-color: #000000;
    width: 100%;
}

/* ---------------------------------------------- /*
 * My Expertise
/* ---------------------------------------------- */
#me .expertise-block {
    margin: 4.0rem 0 1.0rem;
}
#me .expertise-block p {
    margin-bottom: 0;
    line-height: 1.8;
    font-size: 1.4rem;
}
#skills, #me {
  margin-top: 50px;
	background-color: #eee;
	text-align: center;
	margin: 0 auto;
	font-size: 5.0em;
}
.yellow {
	color: #FDCD3B;
}
.fa{
	font: normal normal normal 14px/1 FontAwesome;
	font-size: 5.0em;
}
#sub-footer{
	background-color: #38A8CA;
	text-align: center;
	margin: 0 auto;
}

/* ---------------------------------------------- /*
 * My Projects
/* ---------------------------------------------- */
#projects{
	background: #fff;
	text-align: center;
  margin: 0;
}
#projects img {
    margin: 4.0rem 0 1.5rem;
    border-radius: 6px;
    width: 90%;
    height: auto;
}
#projects .container {
    max-width: 960px;
}

section {
  padding: 0 0 50px;
}
.eight p {
      font-size: 20px;
}
p.intro {
    font-size: 2.0rem;
    margin: 6rem 0 1.8rem;
    line-height: 1.4;
    font-weight: 700;
    text-align: center;
}

/* ---------------------------------------------- /*
 * Contact
/* ---------------------------------------------- */

.btnstart{
    display: inline-block;
    height: auto;
    width: 15em;
    line-height: 4.0rem;
    border-radius: 5em;
    color: #2A3A3F;
    border: 2px solid #2A3A3F;
    white-space: nowrap;
    font-size: 1.2rem;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    background-color: transparent;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-transition: color 0.2s 0.3s, background-color 0.3s ease-in-out, width 0.3s 0s;
    transition: color 0.2s 0.3s, background-color 0.3s ease-in-out, width 0.3s 0s;
}
.btnstart:hover,
.btnstart:active{
    background-color: #2A3A3F;
  	color: #38A8CA;
  	transition: color 0.3s ease-in,
        		background-color 0.3s ease-in,
              	border-color 0.3s ease-in;
}


form {
    display: block;
    margin-top: 0em;
}
.form-container {
    margin: 0 auto;
    padding: 44px 0 40px 0;
    width: 95%;
}
.modal-sh, .modal-content {
    height: 100%;
    width: 100%;
    overflow-y: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


.modal-body:not(.two-col) { padding:0px }
.glyphicon { margin-right:5px; }
.glyphicon-new-window { margin-left:5px; }
.modal-body .radio,.modal-body .checkbox {margin-top: 0px;margin-bottom: 0px;}
.modal-body .list-group {margin-bottom: 0;}
.margin-bottom-none { margin-bottom: 0; }
.modal-body .radio label,.modal-body .checkbox label { display:block; }
.modal-footer {margin-top: 0px;}
@media screen and (max-width: 325px){
    .btn-close {
        margin-top: 5px;
        width: 100%;
    }
    .btn-results {
        margin-top: 5px;
        width: 100%;
    }
}
.container {
    position: relative;
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 0px;
}

body {
    font-size: 1.4rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    color: #93a4aa;
}
header, main, menu, section, summary {
	display: block;
}

footer{
	background-color: #2A3A3F;
	color: #fff;
	text-align: center;
	padding: 80px 0 50px;
}
footer .contact a {
    display: inline-block;
    text-decoration: none;
    text-align: center;
    margin: 0 4px;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
.divider{
  height:1px;
  border-bottom: 1px solid white;
}

footer a, footer a:hover {
    border-bottom: none;
}

.fa-linkedin:before {
    content: "\f0e1";
}
.fa-facebook:before {
    content: "\f0e1";
}
.fa-github:before {
    content: "\f09b";
}

.container:after, .row:after, .u-cf {
    content: "";
    display: table;
    clear: both;
}
html {
  font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
html, body {
    min-height: 100%;
    margin: 0;
    padding: 0px;
    line-height: 1.6;
}