<!DOCTYPE html>
<html>
<head>
	<title>Contact Me< | Daniel Nguyen</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="/bootstrap-3.3.7-dist2/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/css/contact.css">
	<!--icons css-->
	<link rel="stylesheet" href="font-awesome-4.7.02/css/font-awesome.min.css">
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
	<script src="/animation/js/script.js"></script>
	<script src="/bootstrap-3.3.7-dist2/js/bootstrap.min.js"></script>
</head>
<body>
	<div class="container">
		<!--Navigation bar-->
		<nav class="navbar navbar-inverse navbar-fixed-top">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>			
				</button>
			</div>
			<div class="collapse navbar-collapse">
				<ul class="nav navbar-nav navbar-center">
					<li class="nav-item">
						<a class="nav-link" href="/index.html">Home</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/index.html#me">My Expertise</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/index.html#projects">Projects</a>
					</li>
					<li class="nav-item">
						  <a type="button" style="background-color: transparent; color: #9d9d9d" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						    Collections
						  </a>
						  <div class="dropdown-menu" style="background-color: #9d9d9d">
						    <a class="dropdown-collections"  style="color: #fff; text-align: center;" href="/views/css_material_learning.html">CSS Learning Materials</a>
						  </div>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/views/resume.html">Resume</a>
					</li>
				</ul>	
			</div>
		</nav> 
		<!--End navigation bar -->
		<div id="formBlock">
			<div class="wrap container" role="document">
				<div class="row">
					<div class="col-md-6">
						<form class="contact-form" method="POST" action="https://formspree.io/danieltn91@gmail.com">
							<div class="title"><h2>Send a Message</h2></div>
							<div class="row"> 
								<div class="col-xs-6">
									<span>First Name
										<span class="red">*</span>
										<span><input type="text" id="firstname" name="Firstname" required></span>
									</span>			
								</div>
								<div class="col-xs-6">
									<span>Last Name
										<span class="red">*</span>
										<span><input type="text" id="lastname" name="Lastname" required></span>
									</span>
								</div>	
							</div>
							<p>Email Address
								<span class="red">*</span><br>
								<span><input type="email" id="email" name="Email" required></span>
							</p>	
							<p>Organization
								<br>
								<span><input type="text" id="organization" name="Organization"></span>
							</p>	
							<p>Message
								<span class="red">*</span><br>
								<span><textarea class="message" id="message" name="Message" cols="40" rows="10" required></textarea></span>
							</p>
							<input type="text" name="_gotcha" style="display:none"/>
							<input type="hidden" name="_format" value="plain" />
							<button type="submit" class="submit" id="sumbit_id">Send</button>
							<input type="reset" class="reset" id="reset_id" value="Reset">
						</form>
					</div>
				</div>
			</div>
		</div>	
		<div id="thankyouBlock" style="margin: 200px auto; display:none">
			<h1>Thanks for your contact information!</h1>
			<p>I appreciate that you took the time to send me a message. Your message has been sent to the webmaster.</p>
			<p><a href="contact.html"><h4>Back to contact form</a></h4></p>
		</div>
	</div>
	<!--Footer Contact-->
	<footer id="contact">
		<section class="contact" id="contact">
			<div class="container">
				<div class="row">
					<div class="col-12">
						<div>&nbsp;</div>
						<div class="contact">
							<a style="color: lightblue" href="https://www.linkedin.com/in/danieltn91" target="_blank"><i class="fa fa-linkedin fa-3x"></i></a>
							<a style="color: #2D6AEF" href="https:www.facebook.com/dannielnguyen"><i class="fa fa-facebook fa-3x"></i></a>
							<a style="color: #8E43FC" href="https://www.github.com/codeskiller"><i class="fa fa-github fa-3x"></i></a>	
						</div>
						<div>&nbsp;</div>
						<p class="developed-by">Developed by Daniel Nguyen © 2017</p>
						<div class="divider"></div>
						<div class="contact2">
							<div class="row">
								<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12"> 
									<h4>Email: Danieltn91@gmail.com</h4>
								</div>
								<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12"> 
									<h4>Phone: (408)-667-1910</h4>
								</div>
							</div>		
						</div>

					</div>
				</div>
			</div>
		</section>
	</footer>
	
</body>
</html>